
.Principal{
    background: #CCCCCC;
    padding: 30px;
}

p {
    text-align: center;
    text-align: justify;
}

em strong {
    color: #FF0000;
}
h1 {
    text-align: center;
}

#missao{
    font-size: 20px
}

#banner{
    width: 100%;
}

h2 {
   text-align: center;
   color: brown;
}
.itens {
    font-style: italic
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}